﻿.thumb-shadow {
    -moz-box-shadow: 0 0 6px #808080;
	-webkit-box-shadow: 0 0 6px #808080;
	-goog-ms-box-shadow: 0 0 6px #808080;
	box-shadow: 0 0 6px #808080;
    height:2em;
    line-height:2em;
    overflow:hidden;
    padding:0 0 0 0.5em;
    color:#000000;
    font-size:10pt;
    background-color:#fff;
}

.thumb-shadow:hover{
    -moz-box-shadow: 0 0 6px #808080;
	-webkit-box-shadow: 0 0 6px #808080;
	-goog-ms-box-shadow: 0 0 6px #808080;
	box-shadow: 0 0 6px #808080;
}

.vid-box{
    -moz-box-shadow: 0 0 5px #808080;
	-webkit-box-shadow: 0 0 5px #808080;
	-goog-ms-box-shadow: 0 0 5px #808080;
	box-shadow: 0 0 5px #808080;
}

.login-box{
    -moz-box-shadow: 0 0 5px #fff;
	-webkit-box-shadow: 0 0 5px #fff;
	-goog-ms-box-shadow: 0 0 5px #fff;
	box-shadow: 0 0 5px #fff;
}

.timelapse-des{
    background-color:#F2F2F2;
  background-image:-webkit-radial-gradient(50% 100%, ellipse farthest-side, #E6E6E6, #FFFFFF);
  background-position:initial initial;
  background-repeat:initial initial;
  color:#000000;
  font-size:10pt;
  height:2em;
  line-height:2em;
  overflow:hidden;
  padding:0 0.5em;
}
.hide{display:none;}
.header-bg{
    background-color:#fff;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    
}
.box-header-padding{padding:20px 28px 19px;background-color:#d3d3d3;cursor:pointer;}
.box-content-padding{padding:14px 28px 10px;}

.sample-vids{
    /*margin-top:30px;*/
    background-color:#fff; /*url(../img/top-border.jpg) repeat-x;*/
}

.container-bg{background:url('../img/bg.jpg') repeat top center;}

.padding-top40{
    padding-top:20px;
}
.padding-top3{padding-top:3px;}

.itempane{
    overflow: hidden;
    display: block;
    margin-bottom: 20px;
}

.user-name{
    color: #2c3e50;
    font-size: 20px;
    font-family:'brandon_grotesquebold';
    padding: 42px 16px 25px;
    position: relative;
    text-shadow: none;
}

.align-center{text-align:center;}

.form-buttons{
    /*margin-bottom:20px;*/
    margin-top:20px;
    /*padding:19px 0px 20px;*/
}

.form-box{
    -moz-box-shadow: 0 0 6px #cccccc;
	-webkit-box-shadow: 0 0 6px #cccccc;
	-goog-ms-box-shadow: 0 0 6px #cccccc;
	box-shadow: 0 0 6px #cccccc;
    background-color:#fff;
    padding:20px 25px;
    margin:30px 0;
    max-width:32em;
    position:relative;
    top:-20px;
}

.default-timelapse {
margin-bottom:35px;
}

.customize-nav{
    margin:0 0 15px 0;
    border-bottom:solid 2px #808080;
}
.cus-nav-first-col{
    width:80%;
    float:left;
}
.cus-nav-two-col{
    width:20%;
    float:left;
    text-align:right;
}
.cus-nav-item{
    color: #555;
	cursor: pointer;
	padding: 6px 0;
	margin-right: 2px;
	margin-bottom: 5px;
	display: inline-block;
    font-size:2em;
}

.btn-style{
    background-color: #fff;
    background-image: none;
    border: 0 none;
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #000;
    cursor: pointer;
    filter: none;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 14px;
    outline: medium none;
    padding: 7px 14px;
    text-shadow: none;
}
.btn-style:hover{
    background-color: #E6E6E6;
}

.msgAlert{
    text-align:left;
    padding:7px 35px 7px 14px;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
    font-size:15px;
}

.msgRegisterAlert{
    text-align:left;
    padding:7px 35px 7px 25px;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
    font-size:15px;
}

.list-style-none{list-style:none;}
.white{background-color:#fff;}

.setting-menu{
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    display: none;
    float: left;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 14px;
    left: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 0;
    z-index: 1000;
    background-color:#fff;
}

.setting-menu li{
    padding:8px 10px;
}

.setting-menu li:hover{
    background-color:#E6E6E6;
}

.controlLabel{
    float: left;
    padding-top: 5px;
    text-align: left;
    width: 110px;
}
.divControls{
    margin-left: 130px;
}
.responsivenav{background-color:#fff;}

.text-center{text-align:center;font-size:14px;}
.singin-text{margin-bottom:15px;}

.cancelLink{
    text-decoration:underline;
    color:#4195c6;
    font-size:14px;
}

.control-error{border:solid 1px #ff0000;}

.font-size16{font-size:16px;color:#999999;padding-left:3px;}
.font-color-red{color:#ff0000;}

.inner-body{
    background-color:#ECF0F1;
}

.logo-t{
    display: block;
    float: left;
    margin-left: -20px;
    padding: 26px 20px;
    text-align:center;
}

.timelapse-labelhd{
    float:left;
    width:50%;
}

.timelapse-recordhd{
    float:left;
    width:50%;
}

.padding-bottom30{padding-bottom:30px;}
.padding-bottom20{padding-bottom:20px;}
.list-border{border:solid 1px #e7e7e7; padding:10px;}
.cam-list-row{padding-top:4px; padding-bottom:5px;}

@media screen
  {
    #tblLog th{background-color:#e7e7e7;}
    .no-content{
        padding-bottom:150px;
        padding-top:150px;
        font-size:17px;
        text-align:center;
    }
    .home-label{text-align:center;font-size:28px;color:#ffffff;padding-bottom:15px;line-height:27px;}
    .footer-label{font-size:20px;color:#ffffff;}
    .tbl-tab{width:100%;font-size:14px;color:#2c3e50;}
    .timelapse-label{
        font-family:'brandon_grotesquebold';
        font-size:18px;
        color:#2c3e50;
    }
    .hash-label{
        padding-bottom:5px;
        font-size:16px;
        color:#2c3e50;
    }
    .commonLinks{ text-decoration:none; color:#2c3e50; font-size:20px; }
    .commonLinks:hover{ text-decoration:none; color:#2c3e50; font-size:20px; }
    .commonLinks:active{ text-decoration:none; color:#2c3e50; font-size:20px; }
    .commonLinks:visited{ text-decoration:none; color:#2c3e50; font-size:20px; }
    .commonLinks:link{ text-decoration:none; color:#2c3e50; font-size:20px; font-family:'brandon_grotesquebold'; }

    .tools-link{ text-decoration:none; color:#2C3E50; }
    .tools-link:hover{ text-decoration:none; color:#2C3E50; }
    .tools-link:active{ text-decoration:none; color:#2C3E50; }
    .tools-link:visited{ text-decoration:none; color:#2C3E50; }
    .tools-link:link{ text-decoration:none; color:#2C3E50; }

    .tbl-hd2{width: 24%; text-align: left; padding-bottom: 5px;}
    .footer-heading{font-size:30px;text-align:center;color:#666666;}
    .footer-paragraph{font-size:20px;text-align:center;color:#666666;padding-bottom:30px;line-height:30px;}
    .timelapse-paused{background:url('../img/paused-lbl.png') top right no-repeat;height:20px;}
    .timelapse-recording{background:url('../img/recording-lbl.png') top right no-repeat;height:20px;}
    .timelapse-content-box {
        border: 1px solid rgba(0, 0, 0, 0.15);
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        display: block;
        line-height: 20px;
        margin: 0 0 10px;
        padding: 9.5px;
        /*white-space: pre-wrap;*/
        word-break: break-all;
        word-wrap: break-word;
    }
    .padding14{padding:14px;}
    .form-control-label{
        float: left;
        padding-top: 5px;
        text-align: left;
        width: 110px;
    }
    .form-control{margin-left:130px;}
    .imgfooter-text{
        color:#fff;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        position:absolute;z-index:5; font-size:15px;vertical-align:bottom;/*font-weight:bold;*/font-family:Arial;word-wrap:break-word;text-align:center;}
  }

@media (max-width: 767px) 
  {
      .timelapse-paused{background:url('../img/paused.png') top right no-repeat;height:20px;}
      .timelapse-recording{background:url('../img/recording.png') top right no-repeat;height:20px;}
      .footer-paragraph{font-size:14px;text-align:center;color:#666666;padding-bottom:30px;line-height:24px;}
      .footer-heading{font-size:20px;text-align:center;color:#666666;}
      .tbl-tab{width:100%;font-size:12px;color:#2c3e50;}
      .timelapse-label{ font-family:'brandon_grotesquebold'; font-size:15px; color:#2c3e50; }
      .hash-label{ /*font-family:'brandon_grotesquebold';*/ font-size:19px; color:#2c3e50; }
      .commonLinks{ text-decoration:none; color:#2c3e50; font-size:19px; }
      .commonLinks:hover{ text-decoration:none; color:#2c3e50; font-size:19px; }
      .commonLinks:active{ text-decoration:none; color:#2c3e50; font-size:19px; }
      .commonLinks:visited{ text-decoration:none; color:#2c3e50; font-size:19px; }
      .commonLinks:link{ text-decoration:none; color:#2c3e50; font-size:19px; font-family:'brandon_grotesquebold'; }
      .tbl-hd2{width: 24%; text-align: center; padding-bottom: 5px;}
      .polaroids li:nth-child(n+5) { display: none; }
  }

@media (max-width: 640px) {
    .form-control { margin-left: 0px; }
}

.tbl-tab thead tr{height:35px;background:url(../img/tab-border.png) repeat-x;}
.tbl-hd1{width: 28%; text-align: left; padding-bottom: 5px;padding-left:5px;}
.padding-left10{padding-left:10px;}
.margin-bottom2{margin-bottom:2px;}
.margin-top11{margin-top:15px;}
.width60Per{width:60%;}

.img-box{
    border: 1px solid rgba(0, 0, 0, 0.15);
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:solid 2px #999999;
    height:100px;
}
.new-img-box{
    border: 1px solid rgba(0, 0, 0, 0.15);
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}
.container-box{
    border: 1px solid rgba(0, 0, 0, 0.15);
    /*-moz-border-radius:4px;
    -ms-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;*/
    /*-moz-box-shadow: 0 0 6px #cccccc;
	-webkit-box-shadow: 0 0 6px #cccccc;
	-goog-ms-box-shadow: 0 0 6px #cccccc;
	box-shadow: 0 0 6px #cccccc;*/
    padding:15px 15px 0px 15px;
    background-color:#fff;
}
.container-tabs{
    text-align:center;
    height:40px;
    font-size:16px;
}
.container-tab-selected{
    padding:10px 15px;
    border-top:1px solid rgba(0, 0, 0, 0.15);
    border-left:1px solid rgba(0, 0, 0, 0.15);
    border-right:1px solid rgba(0, 0, 0, 0.15);
    background-color:#fff;
    position:absolute;
    width:150px;
    font-family:'brandon_grotesquebold';
}
.container-tab{
    padding:10px 15px;
    cursor:pointer;
    width:150px;
    position:absolute;
}
.tab-width{width:150px;float:left;}

.template-box{border: 1px solid rgba(0, 0, 0, 0.15);background-color:#fff;}
.template-header{padding: 8px 10px; background-color: #e5e5e5; color: #2c3e50; font-size: 20px; font-family: 'brandon_grotesquebold';cursor:pointer;}
.template-body{padding: 15px 10px;}
.label-font{color: #2c3e50; font-size: 18px;}

.margin-left150{margin-left:150px;}
.margin-left0{margin-left:0px;}
.margin-right0{margin-right:0px;}
.margin-top0{margin-top:0px;}
.margin-bottom0{margin-bottom:0px;}
.margin-bottom15{margin-bottom:15px;}



ul.polaroids li {
    display: inline;
}
ul.polaroids a {
    background: #fff;
    display: inline;
    float: left;
    margin: 0 0 27px 30px;
    width: auto;
    padding: 10px 10px 15px;
    text-align: center;
    font-family: "Marker Felt", sans-serif;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -webkit-transform: rotate(-2deg);
    -webkit-transition: -webkit-transform .15s linear;
    -moz-transform: rotate(-2deg);
}
ul.polaroids li {
    padding-left: 0;
}
@media screen and (max-width: 768px) {
    ul.polaroids li a {
        margin-left: 0;
    }
}
ul.polaroids img {
    display: block; /*width: 190px;*/
    height: 130px;
    margin-bottom: 12px;
}
ul.polaroids a:after {
    content: attr(title);
}

ul.polaroids li:nth-child(even) a {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
}
ul.polaroids li:nth-child(3n) a {
    -webkit-transform: none;
    position: relative;
    top: -5px;
    -moz-transform: none;
}
ul.polaroids li:nth-child(5n) a {
    -webkit-transform: rotate(5deg);
    position: relative;
    right: 5px;
    -moz-transform: rotate(5deg);
}
ul.polaroids li:nth-child(8n) a {
    position: relative;
    right: 5px;
    top: 8px;
}
ul.polaroids li:nth-child(11n) a {
    position: relative;
    left: -5px;
    top: 3px;
}

ul.polaroids li.messy a {
    margin-top: -400px;
    position: relative;
    left: 160px;
}

ul.polaroids li a:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
    position: relative;
    z-index: 5;
}

/**Twitter button style**/
.margin-top5{margin-top:5px;}
.btn-t{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    margin-bottom: 0;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
.btn-t:hover
.btn-t:focus{
    background-position:0 -15px;
    text-decoration:none;
    transition:background-position 0.1s linear 0s;
}


.btn-twitter {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #1c95d0;
  *background-color: #0271bf;
  background-image: -moz-linear-gradient(top, #2daddc, #0271bf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2daddc), to(#0271bf));
  background-image: -webkit-linear-gradient(top, #2daddc, #0271bf);
  background-image: -o-linear-gradient(top, #2daddc, #0271bf);
  background-image: linear-gradient(to bottom, #2daddc, #0271bf);
  background-repeat: repeat-x;
  border-color: #0271bf #0271bf #014473;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2daddc', endColorstr='#ff0271bf', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.btn-twitter.disabled,
.btn-twitter[disabled] {
  color: #ffffff;
  background-color: #0271bf;
  *background-color: #0262a6;
}

.btn-twitter:active,
.btn-twitter.active {
  background-color: #01538d \9;
}

.logo-position{position:absolute;}
.PreviewLogo{position: absolute; z-index: 6;}
.PreviewLogo canvas{position: absolute;}

.intro-tour-overlay {
    background: none repeat scroll 0 0 #666666;
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    min-height: 100%;
    opacity: 0.5;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9997;
}
.tour-box {
    height: 76px;
    left: 700px;
    opacity: 1;
    position: absolute;
    top: 110px;
    visibility: visible;
    width: 321px;
    z-index: 9999;
    display:none;
}
.tour-box-container {
    float:left;
    height: 76px;
    width: 304px;
    background-color:#ffffff;
    border-left:solid 1px #e5e5e5;
    border-top:solid 1px #e5e5e5;
    border-bottom:solid 1px #e5e5e5;
    padding:11px;
    -moz-border-radius-topleft: 2px; 
    -webkit-border-top-left-radius: 2px; 
    border-top-left-radius: 2px;

    -moz-border-radius-bottomleft: 2px; 
    -webkit-border-bottom-left-radius: 2px;
     border-bottom-left-radius: 2px;
}
.tour-box-right-arrow{
    float:right;
    background:url(../img/right-arrow.png) no-repeat right top;
    height: 76px;
    width: 17px;
}