﻿
<div class="main customize-nav" role="main">
    <div class="column medium1">
        <br />
        <div class="row-fluid">
            <div class="span7"> <!-- span8 & span4-->
                <form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data" class="form-horizontal">
                    <div class="control-group">
                        <label class="form-control-label">Choose a Camera:</label>
                        <div class="form-control">
                            <select id="ddlCameras" class="span12 m-wrap select2"><option value=""></option></select>
                            <img src="assets/img/ajax-loader.gif" id="imgCamLoader" />
                            <div class="clear"></div>
                            <div id="divWarning" class="help-block margin-top5 hide">Warning: Camera is offline, you may not get any twitter response instantly from it.</div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="form-control-label">Require a #tag?</label>
                        <div class="form-control">
                            <input type="text" id="txtHashTag" class="span12 m-wrap white" placeholder="#boatcam">
                            <div class="clear"></div>
                            <div class="help-block margin-top5">Leave blank if you want to reply to all @mentions.<br />N.B. This can only be left blank for 1 camera.</div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="form-control-label">Footer Text:</label>
                        <div class="form-control">
                            <input type="text" id="txtFooterText" class="span12 m-wrap white" placeholder="" maxlength="60">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="form-control-label">Tweet Response</label>
                        <div class="form-control">
                            <input type="text" id="txtTweetResponse" class="span12 m-wrap white tooltips" placeholder="" maxlength="125" value="Hey {@mentions}, your image from Evercam.io">
                            <div class="clear"></div>
                            <div class="help-block margin-top5">Response must include {@mentions}</div>
                        </div>
                    </div>
                    <div class="control-group1">
                        <label class="form-control-label">Watermark logo:</label>
                        <div class="form-control">
                            <div id="divChooseFile" class="row-fluid-">
                                <!-- Redirect browsers with JavaScript disabled to the origin page -->
                                <noscript><input type="hidden" name="redirect" value="http://blueimp.github.com/jQuery-File-Upload/"></noscript>
                                <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                                <div class="row-fluid fileupload-buttonbar">
                                    <div class="span7">
                                        <!-- The fileinput-button span is used to style the file input field as button -->
                                        <span class="btn grey fileinput-button">
                                            <i class="icon-plus icon-white"></i>
                                            <span>Add file...</span>
                                            <input id="fuChoose" type="file" name="files[]">
                                        </span>
                                        <input type="checkbox" class="toggle fileupload-toggle-checkbox hide">
                                    </div>
                                    <div class="span4 text-right">
                                        <img id="imgWatermarkLogo" src="" class="hide" style="height:35px;">
                                    </div>
                                </div>
                                <!-- The table listing the files available for upload/download -->
                                <table role="presentation" class="table table-striped">
                                    <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
                                </table>
                            </div>
                            <div class="row-fluid hide">
                                <div class="span12">
                                    <script id="template-upload" type="text/x-tmpl">
                                        {% for (var i=0, file; file=o.files[i]; i++) { %}
                                        <tr class="template-upload fade">
                                            <td class="preview"><span class="fade"></span></td>
                                            <td class="name"><span>{%=file.name%}</span></td>
                                            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
                                            {% if (file.error) { %}
                                            <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
                                            {% } else if (o.files.valid && !i) { %}
                                            <td class="hide">
                                                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
                                            </td>
                                            <td class="start hide">
                                                {% if (!o.options.autoUpload) { %}
                                                <button class="btn">
                                                    <i class="icon-upload icon-white"></i>
                                                    <span>Start</span>
                                                </button>
                                                {% } %}
                                            </td>
                                            {% } else { %}
                                            <td colspan="2"></td>
                                            {% } %}
                                            <td class="cancel">
                                                {% if (!i) { %}
                                                <button class="btn red">
                                                    <i class="icon-ban-circle icon-white"></i>
                                                    <span>Cancel</span>
                                                </button>
                                                {% } %}
                                            </td>
                                        </tr>
                                        {% } %}
                                    </script>
                                    <!-- The template to display files available for download -->
                                    <script id="template-download" type="text/x-tmpl">
                                        {% for (var i=0, file; file=o.files[i]; i++) { %}
                                        <tr class="template-download fade">
                                            {% if (file.error) { %}
                                            <td></td>
                                            <td class="name"><span>{%=file.name%}</span></td>
                                            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
                                            <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
                                            {% } else { %}
                                            <td class="preview">
                                                {% if (file.thumbnail_url) { %}
                                                <a class="fancybox-button" data-rel="fancybox-button" href="{%=file.url%}" title="{%=file.name%}">
                                                    <img src="{%=file.thumbnail_url%}">
                                                </a>
                                                {% } %}
                                            </td>
                                            <td class="name">
                                                <a href="{%=file.url%}" title="{%=file.name%}" data-gallery="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
                                            </td>
                                            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
                                            <td colspan="2"></td>
                                            {% } %}
                                            <td class="delete hide">
                                                <button class="btn red" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}" {% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
                                                    <i class="icon-trash icon-white"></i>
                                                    <span>Delete</span>
                                                </button>
                                                <input type="checkbox" class="fileupload-checkbox hide" name="delete" value="1">
                                            </td>
                                        </tr>
                                        {% } %}
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="form-control-label"></label>
                        <div class="form-control">
                            <button type="button" data-val="0" class="btn formButtonOk"><i class="icon-ok"></i> Save</button>
                            <button data-val="0" type="button" class="btn formButtonCancel">Cancel</button>
                            <input type="hidden" id="txtLogoFile" placeholder="" />
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-control">
                            <div id="divAlert" class="alert alert-error hide">
                                <button class="close" data-dismiss="alert"></button>
                                <span>Error</span>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="span5">
                <div class="row-fluid margin-bottom-10"><h3>Preview</h3></div>
                <div class="row-fluid" id="divPreview">
                    <span id="spnFooterText" class="imgfooter-text"></span>
                    <img id="imgPreview" class="new-img-box" style="width:390px;" src="assets/img/cam-img.jpg">
                    <span id="imgPreviewLogo" style="margin-left: -43px;margin-top:3px;" class="PreviewLogo"><canvas id="mycanvas" width="40" height="36"></canvas></span>
                </div>
            </div>
        </div>
    </div>
</div>
